*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 3rem;
    @media (max-width:1235px){padding: 0;}
}

html{
    font-size: 62.5%;
    
    @media (max-width:1364px){font-size: 56.25%}
    @media (min-width:1800px){font-size: 75%;}
}

